int print() {
    $mov rax, 1;
    $mov -8[rbp], rdi;
    $mov edi, 1;
    $mov rdx, 1;
    $lea rsi, -8[rbp];
    $syscall;
    return 4;
}

int main() {
    int z = 0;
    for(int i = 0; i < 30; i = i + 1) {
        $mov rdi, DWORD -4[rbp];
        $add rdi, 'A';
        z = z + 1;
        print();
        if(i % 5 == 0) {
            $mov rdi, 10;
            print();
        }
    }

    //prints Hello \n
    $mov rdi, 'H';
    print();
    $mov rdi, 'e';
    print();
    $mov rdi, 'l';
    print();
    $mov rdi, 'l';
    print();
    $mov rdi, 'o';
    print();
    $mov rdi, '\n';
    print();

    $mov rax, 1;
    $mov -8[rbp], 65;
    $mov -7[rbp], 66;
    $mov -6[rbp], 67;
    $mov edi, 1;
    $mov rdx, 3;
    $lea rsi, -8[rbp];
    $syscall;

    $mov rdi, '\n';
    print();
    
    return z;
}