int print() {
    $mov rax, 1;
    $mov -8[rbp], rdi;
    $mov edi, 1;
    $mov rdx, 1;
    $lea rsi, -8[rbp];
    $syscall;
    return 4;
}

int main() {
    int z = 0;
    for(int i = 0; i < 25; i = i + 1) {
        $mov edi, DWORD -4[rbp];
        $add rdi, 65;
        z = z + 1;
        print();
        if(i % 5 == 0) {
            $mov rdi, 10;
            print();
        }
    }

    //prints Hello \n
    $mov rdi, 72;
    print();
    $mov rdi, 101;
    print();
    $mov rdi, 108;
    print();
    $mov rdi, 108;
    print();
    $mov rdi, 111;
    print();
    $mov rdi, 10;
    print();
    
    return z;
}